body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
    margin: 0;
    font-family: Arial, sans-serif;
}
#message {
    color: red;
    font-weight: bold;
    font-size: small;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    
}
.login-container {
    background: white;
    padding: 2rem;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    animation: fadeIn 1s ease-in-out;
}

.login-form {
    display: flex;
    flex-direction: column;
}

.login-form h2 {
    margin-bottom: 1rem;
    color: #333;
}

.input-group {
    position: relative;
    margin-bottom: 1.5rem;
}

.input-group input {
    width: 100%;
    padding: 0.5rem;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border-color 0.3s;
}

.input-group input:focus {
    border-color: #9b59b6;
}

.input-group label {
    position: absolute;
    top: 50%;
    left: 10px;
    transform: translateY(-50%);
    background: white;
    padding: 0 5px;
    color: #aaa;
    transition: top 0.3s, font-size 0.3s;
}

.input-group input:focus+label,
.input-group input:not(:placeholder-shown)+label {
    top: -10px;
    font-size: 0.75rem;
    color: #9b59b6;
}

button {
    padding: 0.5rem;
    border: none;
    border-radius: 5px;
    background: #9b59b6;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
}

button:hover {
    background: #8e44ad;
}

@keyframes fadeIn {
    from {
        opacity: 0;
        transform: translateY(-20px);
    }

    to {
        opacity: 1;
        transform: translateY(0);
    }
}